@model ThuVien.Models.SinhVien

@{
    ViewBag.Title = "Chỉnh Sửa Sinh Viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="container">
        <h2><i class="notika-icon notika-edit" style="margin-right: 10px;"></i>Chỉnh Sửa Sinh Viên</h2>
    </div>
</div>

<div class="page-container">
    <div class="container">
        <div class="content-wrapper">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ID)

                <div class="card">
                    <div class="card-header">
                        <i class="notika-icon notika-menus" style="margin-right: 8px;"></i>Thông Tin Sinh Viên
                    </div>
                    <div class="card-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger", style = "margin-bottom: 20px;" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.MaSV, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.MaSV, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập mã sinh viên" } })
                            @Html.ValidationMessageFor(model => model.MaSV, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập họ tên sinh viên" } })
                            @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Lop, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Lop, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập lớp" } })
                            @Html.ValidationMessageFor(model => model.Lop, "", new { @class = "text-danger" })
                        </div>

                        <div style="display: flex; gap: 10px; margin-top: 30px;">
                            <input type="submit" value="Lưu Thay Đổi" class="btn btn-success" style="color: #000;" />
                            @Html.ActionLink("Quay Lại", "Index", null, new { @class = "btn btn-secondary" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
